@tailwind base;
@tailwind components;
@tailwind utilities;

.navbar {
  @apply flex justify-between items-center bg-white fixed w-full h-[52px] top-0 shadow-sm;
}

.navbar__logo {
  @apply text-blue-800 text-lg font-semibold cursor-pointer px-[18px] py-0;
}

.navbar__list {
  @apply px-[18px] flex gap-3 items-center py-0;
}

.navbar__list--item {
  @apply cursor-pointer;
}

.navbar__list--item:hover {
  @apply text-gray-600;
}
.navbar__button {
  @apply hidden cursor-pointer;
}

.layout {
  @apply pt-[52px];
}

@media only screen and (max-width: 600px) {
  .navbar__list {
    @apply hidden;
  }

  .navbar__mobile {
    @apply fixed w-full text-white h-screen top-[52px] bg-blue-500;
  }

  .navbar__button {
    @apply block px-[18px] cursor-pointer;
  }

  .navbar__list--mobile {
    display: flex;
    flex-direction: column;

    align-items: center;
    padding: 0px 52px;

    @apply flex flex-col items-center px-0 py-[52px];
  }
  .navbar__list--item--mobile:hover {
    @apply text-red-500;
  }
  .navbar__list--item--mobile {
    @apply py-[22px] px-[18px] cursor-pointer;
  }
}
